<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="sellerId" value="YOUR_SELLER_ID"/>
    <add key="accessKey" value="YOUR_ACCESS_KEY"/>
    <add key="secretKey" value="YOUR_SECRET_KEY"/>
    <add key="lwaClientId" value="YOUR_LOGIN_WITH_AMAZON_CLIENTID"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="ExpressPayment.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
