<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
  </system.web>
  <appSettings>
    <add key="sellerId" value="A2MQTZXPTWUGRJ"/>
    <add key="accessKey" value="AKIAJTHOW5PWES4TA6XA"/>
    <add key="secretKey" value="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"/>
    <add key="lwaClientId" value="amzn1.application-oa2-client.09be9c3b644649edaf892da36b9a1961"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="ExpressPayment.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
